*{
	margin:0px;
	padding:0px;
	text-decoration: none;
}
html{
	height: 100%;
}

body{
	background-color: #FDFDFD;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #546e7a;
	height: 100%;
}
main, article, section, aside, header, footer{
	display: block;
}
ul {
	list-style: none;
}
.clear{
	clear: both;
}
p{
	padding: 10px;
}
/* header */
header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	background-color: #F0F2F4;
	opacity: 1;
	line-height: 50px;
}
header nav ul li {
	float: right;	
	width: 50px;
	height: 50px;
	text-align: center;
}
header nav ul li:hover {
	background-color: #E3E7EB;
}
header nav ul li img{
	vertical-align: middle;
} 
header nav{
	margin-right: 10%;
	float: right;
}
#headerSearch{
	float: left;
}
#headerSearch input{
	height: 25px;
	margin-left: 15px;
	padding-left: 5px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	width: 400px;	
	border: 1px solid #D0D8DC;
	border-radius: 3px;
	color: #607d8b;
	background-color: #FFFFFF;
}
#headerSearch input::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #78909c;
}
#headerSearch input:-moz-placeholder { /* Firefox 18- */
  color: #78909c;
}
#headerSearch input::-moz-placeholder { /* Firefox 19+ */
  color: #78909c;
}
#headerSearch input:-ms-input-placeholder { /* IE 10+ */
  color: #78909c
}
#headerSearch input::-ms-input-placeholder { /* Edge */
  color: #78909c
}
#headerSearch input:placeholder-shown { /* Standard one last! */
  color: #78909c;
}
#headerLogo{
	margin-left: 10%;
	float: left;
}
#headerLogo img{
	margin-top: 5px;
	height: 40px;
}
/* wrapper */
#wrapper{
	margin: 70px auto;
	width: 1000px;
	display: block;	
}
article{
	border: 1px solid #D8DFE2;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 10px;
}
article nav ul li{
	vertical-align: center;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px solid #b0bec5;
}
article nav ul li img{
	width: 16px;
	margin-right: 10px;
}
article nav ul li:last-child{
	border-bottom: 0px;
}
article a {
	margin-right: 20px;
	color: #78909c;
}
article .btn{
	height: 22px;
	float: right;
	margin-left: 10px;
}
article a img{
	margin: 5px;
	vertical-align: middle; 
}

article.box{
	padding: 0px;
}
article.box h2{
	padding-left: 10px;
	border-bottom: 1px solid #b0bec5;
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	color: #546e7a;
}
article.box h2 img{ 
	width: 16px;
	margin-right: 10px;
}
article.box ul li{
	vertical-align: center;
	line-height: 38px;
	height: 38px;
	padding-left: 10px;
	border-bottom: 1px solid #b0bec5;
}
article ul li:last-child{
	border-bottom: 0px;
}
.tb{
	height: 25px;
	margin: 5px;
	padding-left: 5px;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	width: 96%;	
	border: 1px solid #C8D2D7;
	border-radius: 3px;
}
.tb::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #78909c;
}
.tb:-moz-placeholder { /* Firefox 18- */
  color: #78909c;
}
.tb::-moz-placeholder { /* Firefox 19+ */
  color: #78909c;
}
.tb:-ms-input-placeholder { /* IE 10+ */
  color: #78909c
}
.tb::-ms-input-placeholder { /* Edge */
  color: #78909c
}
.tb:placeholder-shown { /* Standard one last! */
  color: #78909c;
}
.golden{
	color: #c3bb38;
}

/* nav part */
section#leftSec{
	margin-left:30px;
	width: 220px;
	float: left;
	height: 100%;
}
.boxProfilePic{
	float: left;
	width: 26%;
	text-align: right;
	padding: 4%;
}
.boxProfilePic img{
	vertical-align: top;
	width: 100%;
}
.boxProfileInfo{
	padding-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	float: left;
	display: inline-block;
	text-align: center;
}
.boxProfileInfo .ProfileLevel{
	font-size: 12px;
}
.boxProfileWallet {
	padding: 4%;
	border-top: 1px solid #b0bec5;
}
.boxProfileWallet img{
	height: 14px;
	vertical-align: middle;
	margin-right: 5px;
}
/* content part */
main{
	margin-left:0px;
	width: 538px;
	float: left;
	height: 100%;
}
.postPic{
	float: left;
	width: 8%;
	text-align: right;
	padding-right: 2%;
}
.postPic img{
	vertical-align: top;
	width: 100%;
}
.postBody{
	padding-top: 5px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	float: left;
	width: 90%;
}
.postContact img{
	margin-left: 10px;
	height: 15px;
}
.postTimes{
	color: #a1b3bc;
	font-size: 14px;
	margin-bottom: 14px;
}
.postContent{
	color: #37474f;
	font-size: 16px;
	margin-bottom: 5px;
}
.readmore{
	font-size: 14px;
}
.activity{
	margin-top: 10px;
}
.activity span{
	font-size: 13px;
	margin-right: 20px;
}
.activity span img{
	margin-right: 5px;
	height: 12px;
	vertical-align: middle;
}

/* cuopons part*/
aside{
	margin-left:20px;
	width: 140px;
	float: left;
	height: 100%;
}
aside figure{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
aside figure img{
	width: 80%;
}
aside figure figcaption span{
	font-size: 10px;
}
aside figure figcaption img{
	width: 10%;
}

/* task part*/
#taskPage #wrapper{
	margin: 70px auto;
	width: 836px;
	display: block;	
}
#taskPage aside#task{
	margin-left:20px;
	width: 278px;
	float: left;
	height: 100%;
}
#taskPage aside#task figure{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#taskPage aside#task figure img{
	width: 80%;
}
#taskPage aside#task figure figcaption span{
	font-size: 10px;
}
#taskPage aside#task figure figcaption img{
	width: 10%;
}




